# Игнорируем Git 
.git/

# Игнорируем юнит тесты так как они не учавствуют в сборке бинарника
*_test.go

# Игнорируем README
README.md

# Игнорируем Dockerfile самого проекта при копировании
Dockerfile

